<footer>
  <div class="footergrid">
    <div>© {{ "now" | date("yyyy") }} Rulebreakers English Studios</div>
    <div class="small">An evolving document. Last built: {{ "now" | date("yyyy-LL-dd HH:mm") }}</div>
  </div>
</footer>
