<header>
  <div class="brand"><a href="/">RULEBREAKERS ENGLISH STUDIOS PLAYBOOK</a></div>
  <nav class="nav">
    <a href="/" {% if page.url == "/" %}class="active"{% endif %}>Intro</a>
    <a href="/background/" {% if page.url == "/background/" %}class="active"{% endif %}>Who</a>
    <a href="/workshops/" {% if page.url == "/workshops/" %}class="active"{% endif %}>Workshops</a>
    <a href="/studios/" {% if page.url == "/studios/" %}class="active"{% endif %}>The Studios</a>
    <a href="/year-test/" {% if page.url == "/year-test/" %}class="active"{% endif %}>Year</a>
    <a href="/theory/" {% if page.url == "/theory/" %}class="active"{% endif %}>Theory</a>
    <a href="/revenue/" {% if page.url == "/revenue/" %}class="active"{% endif %}>Model</a>
    <a href="/budget/" {% if page.url == "/budget/" %}class="active"{% endif %}>Budget</a>
    <a href="/metrics/" {% if page.url == "/metrics/" %}class="active"{% endif %}>Metrics</a>
    <a href="/context/" {% if page.url == "/context/" %}class="active"{% endif %}>Context</a>
    <a href="/ownership/" {% if page.url == "/ownership/" %}class="active"{% endif %}>Ownership</a>
  </nav>
</header>
