<nav class="navbar">
  <a href="/studios/">STUDIOS</a> |
  <a href="/workshops/">WORKSHOPS</a> |
  <a href="/theory/">METHOD</a> |
  <a href="/plan/">PLAN</a> |
  <a href="/context/">CONTEXT</a>
</nav>
